*{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}
h3{
    font-weight:normal;
}
/*小title可以复用，*/
.wrapper{
    margin: 0 auto;
    width: 1200px;
}
.header {
    width: 1920px;
    height: 679px;  
    background-image: url(./image/1V9A7229.png);
    background-repeat: no-repeat;
    background-position:-33px -600px;
    /*原图有出入，很难对齐*/
}
.header .left {
    text-decoration: none;
	width: 77px;
	height: 77px;
    background-color: #fdfdfd;
	opacity: 0.58;
    float: left;
    margin-top: 307px;
    margin-bottom: 295px;
    margin-left: 23px;
    border-radius:50%;
}
.header .left div {
	font-family: SourceHanSansCN-Normal;
	font-size: 60px;
	font-weight: normal;
	font-stretch: normal;
	color: #666666;
    line-height: 77px;
    text-align: center;
}
.header .left:hover{
    background-color:#86a380 ;
}
.header .right:hover{
    background-color:#86a380 ;
}
.header .mid1 {
    float: left;
    width: 600px;
    height: 139px;
    margin-top: 155px;
    margin-left: 258px;
}
.header .mid1 .htitle{
	font-family: SourceHanSansCN-Medium;
	font-size: 54px;
	font-weight: normal;
	font-stretch: normal;
	color: #333333;
    margin-top: 39px;
}
.header .mid1 .hp{
    width: 310px;
	font-family: SourceHanSansCN-Normal;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
    text-align: center;
    text-indent: 9px;
    margin-top: 51px;
}
.header .mid1 .hbt{
        margin-top: 48px;
        text-decoration: none;
        display: inline-block;
        width: 179px;
        height: 46px;
        border: solid 1px #707070;
        opacity: 0.62;
        text-align: center;
        line-height: 46px;
        color: #333333;
    }
.header .right{   
    text-decoration: none;
	width: 77px;
	height: 77px;
	background-color: #fdfdfd;
	opacity: 0.58;
    float: right;
    margin-top: 307px;
    margin-bottom: 295px;
    margin-left: 23px;
    border-radius:50%;
}
.header .right div {
	font-family: SourceHanSansCN-Normal;
	font-size: 60px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 77px;
	color: #666666;
    text-align: center;
}
 .info{
   height: 545px;
   margin-top: 41px;
   margin-left: 359px;
   margin-right: 356px;
   width: 1205px;
}
.info .lastinfo{
    height: 79px;
    float: left;
    width: 248px;
}
.info .lastinfo h3{
    padding-top: 15px;
    font-size: 20px;
    color: #333333;
}
.info .nav{
    height: 79px;
    background-color: #fff;
    float: left;
    margin-left: 378px;    
    width: 579px;
    margin-top: 11px;
}
.info .nav a{/*a是行内元素 加宽高都不生效*/
    display:inline-block;
    margin-left: 36px;
    width: 53px;
    height: 53px;
    font-size: 16px;
    text-align: center;
    line-height: 53px;
    text-decoration: none;
    color: #666666;
}
.info .nav a:hover{
    background-color:#ebe2b2;
    border-radius: 50%;
}
.info .pic-list{
    background-color: #fff;
    width: 1208px;
    height: 431px;
    margin-top: 35px;
    float: left;
}
.info .pic-list .pic{
    background-image: url(./image/1V9A5729.jpg);
    width: 602px;
    height: 431px;
    float: left;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    /*指定边弯曲*/
}
.info .pic-list .list{
    width: 603px;
    height: 431px;
    float: left;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    background-color:#f2e9e8;
}
.info .pic-list .list ul{
    list-style: none;
    font-style: 14px;
    margin-left: 68px;
    margin-top: 52px;
}
.info .pic-list .list ul li{
    margin-bottom: 78px;
}
.info .pic-list .list ul li span{
    display: inline-block;
    font-size: 14px;
}
.info .pic-list .list ul li .time{
    font-size: 25px;
}
.info .pic-list .list ul li .month{
    font-size: 14px;
}
.info .pic-list .list ul li .day{
    font-size: 25px;
}
.info .pic-list .list ul li .content{
    font-size: 16px;
}
.product{
    margin-top: 98px;
    width: 1606px;
    height: 624px;
    margin-left: 181px;
}
.product .prodis{
    float: left;
    height: 43px;
    width: 1200px;
    margin-left: 179px;
}
.product .proshow{
    height: 527px;
    width: 1300px;
    float: left;
    margin-left: 180px;
    margin-top: 55px;
    /* margin-right: 22px;
    background-image: url(./image/IMG_7486.jpg);
    margin-top: 97px; */
}
.product .proshow .sofa{
    width: 284px;
    height: 527px;
    background-image: url(./image/sofa.jpg);
    margin-right: 21px;
    float: left;
}
.product .proshow .sofa .sofaintroduction{
    float: left;
    background-color: #dde0e5;
    width: 284px;
    height: 85px;
    margin-top: 441px;
}
.ad{
    width: 1920px;
    height: 586px;
    margin-top: 67px;
    background-image: url(./image/ad.jpg);
}
.ad .xilie {
    padding-top: 198px;
    margin-left: 360px;
    width: 600px;  
    height: 29px;
    font-size: 30px;
}
.ad .fenge{
    width: 38px;
    height: 4px;
    background-color:black;
    margin-top: 33px;
    margin-left: 360px;
}
.ad .content{
    width: 640px;
	height: 43px;
	font-family: SourceHanSansCN-Normal;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #333333;
    margin-left: 360px;
    margin-top: 57px;
}
.ad .comfortable{
    width: 400px;
	height: 26px;
	font-family: SourceHanSansCN-Normal;
	font-size: 33px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #666666;
	opacity: 0.25;
    margin-left: 361px;
    margin-top: 48px;
}
.ad .button{
    width: 100px;
    height: 13px;
    margin-top: 110px;
    margin: 110px auto;
}
.ad .button div{
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 1px ;
    border-color: white;
    margin-right: 14px;
    border-radius: 50%;
}
.ad .button div:hover{
    background-color: #fff;
}
.hotp{
    margin-top: 69px;
    width: 1372px;
    height: 700px;
    margin-left: 357px;
    margin-right: 359px;
}
.hotp .biaoti{
    width: 168px;
    height: 41px;
}
.hotp .biaoti .h3{
    width: 79px;
	height: 19px;
	font-family: SourceHanSansCN-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #333333;
}
.hotp .biaoti p{
        height: 17px;
        font-family: SourceHanSansCN-Normal;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
}
.hotp .content{
    width: 1204px;
    height: 618px;
    margin-top: 37px;
}
.hotp .content .introduction{    
    width: 301px;
    height: 309px;
    border: 0;
    float: left;
    background-color: #eeee;
}
.hotp .content .introduction .neirong{
    width: 195px;
    height: 147px;
    border: 0px;
}
.hotp .content .introduction .neirong .goodsname{
    width: 121px;
	height: 23px;
	font-family: SourceHanSansCN-Normal;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 5px;
	color: #666666;
    border: 0px;
    margin-top: 111px;
    margin-left: 90px;
    
}
.hotp .content .introduction .neirong .separate1{
    width: 21px;
	height: 2px;
	background-color: #999999;
	opacity: 0.77;
   margin-left: 144px;
    margin-top: 11px;
}
.hotp .content .introduction .neirong .price{
        width: 84px;
        height: 19px;
        font-family: SourceHanSansCN-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #75a999;
        margin-top: 23px;
        margin-left: 100px;
        text-align: center;
}
.hotp .content .introduction .neirong .separate2{
	width: 86px;
	height: 2px;
	background-color: #999999;
	opacity: 0.77;
    margin-left: 110px;
    margin-top: 19px;
}
.hotp .content .introduction .neirong p{
        width: 195px;
        height: 35px;
        font-family: SourceHanSansCN-Normal;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #666666;
        margin-left: 50px;
       text-align: center;
        margin-top: 15px;

}
.hotp .content .pic{
    width: 301px;
    height: 309px;
    border:0 ;
    float: left;
    background-image: url(./image/_DSC7638.jpg);
}
.about{
    width: 1920px;
    height: 778px;
    background-image: url(./image/ABOUT.png);
    background-position:458px -1px;
    background-repeat: no-repeat;
    font-size: 0;/*去除行内块元素之间的默认间距*/
}
.about .left{
    display: inline-block;
    width: 598px;
    height: 780px;
    margin-left: 358px;
}
.about .right{
    display: inline-block;
    width: 611px;
    height: 780px;
}
.about .left .pic1{/*出现了外元素塌陷
    1.父亲元素加上padding 但这里不适合
    2.父元素加上border 但这里没有border 不适合
    3.overflow：hiden
    4.设置浮动*/
    float: left;
    width: 304px;
    height: 194px;
    margin-left: 294px;
    margin-top: 126px;
    border-bottom-left-radius: 26px;
    border-top-right-radius: 26px; 
    border-top-left-radius: 26px;
    background-image: url(./image/pic2.jpg);
}
.about .text {
    width: 442px;
    height: 193px;
    float: left;
    margin-top: 90px;
    margin-left: 83px;
}
.about .pic2{
    width: 607px;
    height: 350px;
    float: left;
    margin-top: 36px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px; 
    border-top-right-radius: 26px;
    background-image: url(./image/pic2.jpg);
}
.about .left .seperate {
        margin-top: 618px;
        width: 195px;
        height: 161px;
        border-top: 1px solid #aaaaaa;
}
.about .left .tes {
    float: left;
    width: 20px;
    height: 20px;
}
.about .left a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}
.about .right .text h3{
    width: 80px;
	height: 19px;
	font-family: SourceHanSansCN-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: #333333;
}
.about .right .text .eng {
    margin-top: 7px;
	width: 200px;
	height: 17px;
	font-family: SourceHanSansCN-Normal;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: #666666;
}
.about .right .text p {
    margin-top: 31px;
	width: 430px;
	height: 119px;
	font-family: SourceHanSansCN-Normal;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #999999;
}
.last1 {
    background-color: #797777;
    width: 1920px;
    height: 103px;
}
.last1 .logo{
    background-color: #75a999;
    
}
.last2{
    width: 1920px;
    height: 354px;
    background-color: #666666;
}
.last2 .left {
    width: 206px;
    height: 354px;
    margin-left: 359px;
    overflow: hidden;
    float: left;
}   
.last2 .left .tel .text{
        display: block;
        width: 60px;
        height: 14px;
        font-family: SourceHanSansCN-Normal;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: 0px;
        color: #e3e3e3;
        margin-top: 63px;
}
.last2 .left .tel .seperate  {
    display: block;
	width: 155px;
	height: 2px;
	background-color: #999999;
    margin-top: 9px;
}
.last2 .left .tel .num {
	width: 109px;
	height: 52px;
	font-family: SourceHanSansCN-Normal;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #e3e3e3;
    margin-top: 16px;
}
.last2 .left .friendlylink{
        width: 199px;
        height: 41px;
        background-color: #918f8f;
        margin-top: 34px;
        margin-bottom: 29px;
}
.last2 .left .friendlylink .left{
    float: left;
    width: 60px;
	height: 14px;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #e3e3e3;
}
.last2 .left .friendlylink .right{
    float: right;
    width: 21px;
	height: 21px;
    margin-right: 8px;
    margin-top: 10px;
    font-size: 11px;
    line-height: 11px;
    color: #e3e3e3;
    text-align: center;
    background-color: #c5c4c4;
    border-radius: 50%;
}
.last2 .left .contect{
        width: 199px;
        height: 41px;
        background-color: #918f8f;
}
.last2 .left .contect .left{
    float: left;
    width: 60px;
	height: 14px;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #e3e3e3;
}
.last2 .left .contect .right{
    float: right;
    width: 21px;
	height: 21px;
    margin-right: 8px;
    margin-top: 10px;
    font-size: 11px;
    line-height: 11px;
    color: #e3e3e3;
    text-align: center;
    background-color: #c5c4c4;
    border-radius: 50%;
}
.last2 .mid {
    width: 520px;
    height: 354px;
    float: left;
    margin-left: 167px;
}
.last2 .mid .ourguest{
        width: 457px;
        height: 24px;
        font-family: SourceHanSansCN-Normal;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #e3e3e3;
        margin-top: 60px;
}
.last2 .mid .separate{
        width: 445px;
        height: 2px;
        background-color: #999999;
        margin-top: 9px;
}
.last2 .mid .list1{
    width: 111px;
    height: 131px;
    margin-top: 21px;
    float: left;
    color: #e3e3e3;
}
.last2 .mid .list2{
    width: 111px;
    height: 131px;
    margin-top: 21px;
    float: left;
    margin-left: 63px;
    color: #e3e3e3;
}
.last2 .mid .list3{
    width: 111px;
    height: 131px;
    margin-top: 21px;
    float: left;
    margin-left: 63px;
    color: #e3e3e3;
}
.last2 ul{
    line-height: 30px;
}
.last2 .right{
    width: 640px;
    height: 354px;
    float: left;
}
.last2 .right .e1{
    float: left;
    margin-top: 129px;
    margin-left: 63px;
    width: 114px;
    height: 119px;
    border-radius: 6px;
    background-color: rgb(36, 148, 51);
}
.last2 .right .e2{
    float: left;
    margin-top: 129px;
    margin-left: 28px;
    width: 114px;
    height: 119px;
    border-radius: 6px;
    background-color: rgb(36, 148, 51);
}
.last2 .right .subscribe{
    width: 130px;
	height: 14px;
    font-size: 14px;
    margin-left: 135px;
    margin-top: 291px;
    font-size: 14px;
    color: #e3e3e3;
}
.last3{
    width: 1920px;
    height: 71px;
    background-color: #666666;
    border-top: 2px solid #a0a0a0;
    text-align: center;
    color: #e3e3e3;
}
/*2022 2 27 11：44*/